.khan__buy-link{  
    flex-direction: column;
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    text-decoration: none;
    color: #2f80ed;
    margin: 0;
    padding: 0;
    transition: opacity 2s;
}
.khan__buy-link:hover{
    opacity: 0.5;
}
